body
    margin 0
    background white
    header 
        width 100%
        height 100vh
        margin-bottom 10px
        background-size 100% 100%
        h1
            display none
        img
            width 100%
            height 100%
            position absolute
            visibility hidden
//    section
//        background #e1e1e1
//        width 90%
//        margin 0 auto 10px auto
//        height 400px
#juego
    background #e1e1e1
    width 90%
    margin 0 auto 10px auto
    height 400px
footer
    background #121212
    width 100%
    height 50px
    position fixed 
    bottom 0