body
    margin 0
    background white
    header 
        background url('imagenes/fondo rojo 1.png')
        background-size 100% 100%
        width 100%
        height 100vh
        margin-bottom 10px
        h1
            display none
//    section
//        background #e1e1e1
//        width 90%
//        margin 0 auto 10px auto
//        height 400px
#juego
    article
        background #e1e1e1
        width 90%
        margin 0 auto 10px auto
        height 400px
        img
            display inline-block
        div 
            display inline-block
            vertical-align top
            width 60%
footer
    background #121212
    width 100%
    height 30px